$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$color__paper: #eee;
$color__text: #5A6E79;
$color__primary: #B56C63;
$color__secondary: #ADB3B1;

.browsehappy {
    background: $color__paper;
    color: $color__text;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

html,
body {
    font-family: 'Goudy Bookletter 1911', serif;
    height: 100%;
    padding: 0;
}

h1 {
    font-family: 'Meddon', cursive;
    margin-bottom: 30px;
}

hr {
    border: 2px dashed $color__secondary;
}

.container {
    align-items: center;
    text-align: center;
    display: flex;
    min-height: 100%;
}

.jumbotron {
    background: $color__paper;
    color: $color__text;
    margin: 0 auto;
    max-width: 42em;
}

.btn {
    background: $color__primary;
    color: $color__paper;
    transition: background .4s;

    &:hover,
    &:focus {
        background: lighten($color__primary, 10%);
        color: $color__paper;
    }
}

strong,
.flourish {
    display: block;
    width: auto;
    margin: .5em auto;
}

.flourish {
    font-family: 'Meddon', cursive;
    position: relative;
    
    @media (min-width: $screen-xs) {
        &:before,
        &:after {
            position: absolute;
            display: block;
            content: "";
            width: 150px;
            height: 1px;
            background: $color__text;
            top: 50%;
            transform: translateY(-50%); 
        }

        &:before {
            left: 0%;
        }

        &:after {
            right: 0%;
        }
    }   
}

.attending {
    display: block;
    font-size: 3em;
    position: relative;

    &--false {
        font-size: 2em;
        margin-bottom: 1em;
    }

    [type=radio] {
        display: none;

        &:checked {
            ~ label {
                color: $color__text;

                &:after {
                    background: currentcolor;
                    border: none;
                    height: 0.6em;
                    left: 0.2em;
                    margin-top: -0.3em;
                    width: 0.6em;
                }
            }
        }
    }

    label {
        color: $color__secondary;
        cursor: pointer;
        padding-left: 1.2em;
        position: relative;

        &:before,
        &:after {
            border-radius: 50%;
            border: 2px solid;
            content: '';
            height: 1em;
            left: 0;
            margin-top: -.5em;
            position: absolute;
            top: 50%;
            width: 1em;
        }
    }
}
