<div class="jumbotron">
    <div ng-hide="submitted">
        <form novalidate>
            <h1>{{ guest.name }}</h1>
                <p>You have been courdially invited to celebrate the wedding of:</p>
                <h2>Bryan Donnelly and Lucy Wright</h2>
            <p>
                <span class="flourish">on the</span>
                <strong>29th of February 2016</strong>
                <span class="flourish">at</span>
                <strong>3pm at redcar registry office/lesiure and community heart</strong>
                <span class="flourish">then</span>
                <strong>4.30pm at marske cricket club</strong>
            </p>

            <p>Please R.S.V.P. below.</p>

            <div class="well">
                I <div class="radio-inline"><label>
                    <input type="radio" ng-model="guest.attending" data-ng-value="true">will
                </label></div> / <div class="radio-inline"><label>
                    <input type="radio" ng-model="guest.attending" data-ng-value="false">will not
                </label></div> be attending your wedding.
            </div>
            <div class="form-group">
                <button ng-click="rsvp()" class="btn btn-lg btn-block" type="submit">RSVP</button>
            </div>
        </form>
    </div>
    <div ng-show="submitted">
        <h2>Thanks!</h2>
        <p>We've stored your response. Visit this page again if you need to change any details</p>
    </div>
</div>
